html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #F5F5F5;
    color: #000000;
    height: 100%;
    overflow-x: hidden;
    font-family: Helvetica;
}

.header {
    background-color: #474747;
    font-size: 4.5vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header p {
    color: #FFFFFF;
    padding: 10px;
}

.header span {
    color: #FF8133;
}

.header div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 50px;
}

.content {
    margin: 0;
    padding: 0;
}

div {
    margin: 0;
    padding: 0;
}

.galerie {
    background: #474747;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 0;
    padding: 100px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #FFFFFF;
    font-size: 3vw;
    align-items: center;
}

.galerie div {
    background: #F5F5F5;
    padding: 10px 20px;
    color: #000000;
    font-size: 3vw;
    border-radius: 40px;
}

.galerie div span {
    font-size: 3.5vw;
}

.description {
    background: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    margin-top: 0;
    color: #000000;
}

.description p,
div {
    padding: 5px;
    font-size: 3vw;
}

.description h2 {
    padding: 5px;
    font-size: 3.5vw;
}

.tags {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stat {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

fieldset {
    background: #FFFFFF;
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 5px 20px 5px rgb(0, 0, 0, 0.2);
}

legend {
    color: #FFFFFF;
    margin: 10px;
    font-size: 3.5vw;
    background-color: #2EDCC7;
    border-radius: 10px;
    padding: 5px;
}

.statistiques {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.statistiques p {
    color: #FF8133;
}

.shadow {
    padding: 0;
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2);
    margin: 10px;
    border-radius: 10px;
}

.h1 {
    padding: 10px;
    font-size: 3.5vw;
}

.map {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horaire span {
    font-size: 3vw;
}

.table {
    margin-right: auto;
    margin-left: auto;
    border-collapse: collapse;
    /* box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2); */
    border-radius: 5px;
}

.horaire th:first-child {
    border-radius: 5px 0px 0px 5px;
}

.horaire th:last-child {
    border-radius: 0px 5px 5px 0px;
}

.horaire th {
    background-color: #474747;
    color: #FFFFFF;
    text-align: center;
    padding: 5px;
    margin: 0;
    border: 0;
}

.matin td {
    text-align: center;
    padding: 5px;
    color: #000000;
}

.ferme{
    color: #FF8133;
}
.aprem td {
    text-align: center;
    padding: 5px;
    color: #000000;
}

.open {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 4.5vw;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #8AD534;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.info {
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 50px;
    background-color: #ffffff;
}

.recap{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.content_recu{
    margin: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2);

}
.content_recu h1{
    text-align: center;
    padding: 10px;
    color: #157A6E;
}

.recap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2);
    padding: 0;
    margin: 10px;
}

.recap div:last-child{
    background-color: #F5F5F5;
    border-radius: 0px 10px 10px 0px;
    
}

.recap div div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.recap div p{
    padding: 5px;
}

#qrcode{
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    border-radius: 10px;
    background-color: #474747;
}
.article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin: 10px;
}

.article span{
    color: #FF8133;
}
.article p{
    margin: 10px;
    font-size: 4.5vw;

}
.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #474747;
    text-align: center;
    font-size: 3.5vw;
    padding: 10px;
}

.nav ul {
    list-style-type: none;
    display: inline;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav i {
    color: #FFFFFF;
    font-size: 4.5vw;
}