@font-face {
    font-family: "SSP-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("/storage/assets/font/SourceSansPro-Bold.ttf") format("opentype");
}

@font-face {
    font-family: "SSP-regular";
    font-style: normal;
    font-weight: 700;
    src: url("/storage/assets/font/SourceSansPro-Regular.ttf") format("opentype");
}

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background: #F5F5F5;
    color: #000000;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif; 
}

div {
    padding: 5px;
    font-size: 3vw;
}

#reader {
    height: 85vh;
}

.header {
    background-color: #474747;
    font-size: 6vw;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'SSP-Bold';
}

.header p {
    color: #FFFFFF;
    padding: 10px;
}

.header span {
    color: #2EDCC7;
}

.header .delivery {
    color: #2EDCC7;
    
}

.header div div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header img {
    width: 35px;
    
}

.nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #474747;
    text-align: center;
    font-size: 3.5vw;
    padding: 7% 3%;
    
}

.nav ul {
    list-style-type: none;
    display: inline;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.nav i {
    color: #FFFFFF;
    font-size: 7vw;
}

.recap{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.recap p{
    width: 80%;
    margin-left: 10px;
    font-size: 13px;
}

.recap img {
    border-radius: 10px;
}

.content_recu{
    margin: 20px 10px 100px 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2);
    font-family: 'SSP-regular';
  

}
.content_recu h1{
    text-align: center;
    padding: 10px;
    color: #157A6E;
}

.recap {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px rgb(0, 0, 0, 0.2);
    padding: 0;
    margin: 10px;
}

.recap div:last-child{
    background-color: #F5F5F5;
    border-radius: 0px 10px 10px 0px;
    
}

.recap div div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.recap div p{
    padding: 5px;
}

#qrcode{
    margin: 25px auto 0px auto;
    height: 75vw;
    width: 75vw;
    border-radius: 10px;
    background-color: #474747;
}
.article{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #F5F5F5;
    border-radius: 10px;
    margin: 10px;
}